/****************************
GENERAL
*****************************/
body {
  font-family: 'Opens San', 'sans serif';
  background-color: skyblue
}

#wrapper{
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 1% 5%

}


.gsbutton1 {
  padding: 8 50;
  border-radius: 15px;
  background-color: coral
}


/****************************
HEADING
*****************************/


header{
  float: center;
  margin: 0 px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-image: url("/resources/img/background.jpg");
  background-repeat: no-repeat

}


h1 {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  padding: 20
}

h3 {
  float: right;
  padding: 8 10;
  border-radius: 15px
}


#calltoaction {

  padding:40
}
/****************************
NAVIGATION
*****************************/

nav {
  text-align: center;
}

nav ul {

  background-color: coral;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  padding: 1%;
}

nav a {
  padding: 8px 8px;
  text-decoration: none;
  color: white;
}


nav a.selected, nav a:hover{
  //this selecter won't work//
}

